body {
    background-color: #f5f5f5;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}


.page-title {
    color: #2c3e50;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/* Cor fixa da sidebar */
.main-sidebar {
    background-color: #2c3e50 !important;
}

/* Remove qualquer gradiente interno */
.main-sidebar * {
    background-image: none !important;
}

/* Brand container */
.brand-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 10px;
    text-align: center;
}

/* Logo grande */
.logo-lg {
    width: 90px;
    margin-bottom: 8px;
}

/* Logo pequeno */
.logo-sm {
    width: 32px;
    display: none;
}

/* Texto */
.brand-user {
    font-size: 13px;
    line-height: 1.3;
    color: #cfd8dc;
}

/* ===== SIDEBAR FECHADA ===== */
.sidebar-collapse .brand-user {
    display: none; /* esconde "Bem-vindo" */
}

.sidebar-collapse .logo-lg {
    display: none; /* esconde logo grande */
}

.sidebar-collapse .logo-sm {
    display: block; /* mostra logo pequeno */
    margin: 0 auto;
}

/* Logo */
.brand-custom .logo {
    width: 90px;           /* ajuste fino aqui */
    height: auto;
    margin-bottom: 8px;
}

/* Nome do usuário */
.brand-user strong {
    font-weight: 600;
    color: #ffffff;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border: none;
    margin-bottom: 20px;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    padding: 12px 16px; /* padrão limpo */
    gap: 0;
}


.logo {
    width: 150px;
    margin: 0 auto;
    border-radius: 12px;
}

.logo2 {
    width: 60px;
    margin: 0 auto;
    border-radius: 12px;
}

.chart-container {
    position: relative;
    height: 160px;   /* altura uniforme */
}

.table th {
    font-weight: 600;
    background-color: #34495e;
}
.btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
}

